extends layout

block content
    h1= title
    style.
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

    #connected
        if connected
            p Connected to the process manager

            #data
                table
                    tr
                        th ID
                        th Process Name
                        th CPU
                        th Memory
                    if data.length>0
                        each val in data
                            tr
                                td= val.pm_id
                                td= val.name
                                td= val.cpu
                                td= val.memory
                    else
                        tr(colspan="4") No running processes
        else
            p Cannot connect to the process manager



